//title
.tabs-scroll {
  .nav-tabs {
    flex-wrap: nowrap !important;
    width: max-content;
  }
  .fa-hand-point-right {
    display: none;
  }
}

code {
  font-family: "Arial";
  color: $gray-text;
}

.pagination_style1 {
  margin: 0;
  margin-top: 70px;
  .pagination {
    flex-wrap: wrap;
    li {
      margin: 10px 5px;
    }
    .page-item.active .page-link {
      background-color: #000;
      color: $priamry_color;
    }
    .page-item a,
    .page-item span {
      width: 50px;
      height: 50px;
      color: #000;
      text-align: center;
      line-height: 50px;
      padding: 0;
      display: inline-block;
      font-weight: bold;
      border-radius: 5px;
      box-shadow: 0px 0px 1px 2px rgb(212, 198, 198);
    }
    .page-item.active,
    .page-item.disabled {
      a,
      span {
        cursor: not-allowed;
      }
    }
    .page-link {
      &:focus {
        border: none;
      }
      border: unset;
      &:hover {
        background-color: #000;
        color: #fad906;
        transition: 0.5s ease;
      }
    }
    .page-item {
      padding: 0 5px;
    }
    .page-link-last {
      box-shadow: 0px 0px 1px 2px rgb(212, 198, 198);
      width: 110px;
      height: 50px;
      line-height: 50px;
      color: $gray-text;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      font-family: $Arial;
      border-radius: 4px;
      &:hover {
        background-color: #000;
        opacity: 1;
        a {
          color: #fad906;
          transition: 0.5s ease;
        }
      }
      a,
      span {
        color: black;
        padding: 17px 0;
        width: 100%;
        vertical-align: middle;
        line-height: 20px;
      }
    }
    .page-link-last.disabled {
      background-color: #ccc;
      opacity: 30%;
      cursor: not-allowed;
    }
  }
}

.section-armco {
  &__header__title {
    font-size: 60px;
    @media (max-width: 1600px) {
      font-size: 40px;
    }
  }
  &__header__titleSmall {
    font-size: 40px;
  }
  h1 {
    font-size: 60px;
    @media (max-width: 1600px) {
      font-size: 40px;
    }
  }
  &__fs35 h1 {
    font-size: 35px;
    @media (max-width: 1600px) {
      font-size: 30px;
    }
  }
  &__titleSmall {
    h1 {
      font-size: 60px;
      @media (max-width: 1600px) {
        font-size: 40px;
      }
    }
  }
  &__fs25 h1 {
    font-size: 30px;
    @media (max-width: 1600px) {
      font-size: 25px;
    }
  }
  &__titleSmall {
    h1 {
      font-size: 40px;
      @media (max-width: 991px) {
        font-size: 35px;
      }
    }
  }
  &__header__column {
    font-size: 20px;
    @media (max-width: 1600px) {
      font-size: 17px;
    }
  }
  // &__header__title {
  //   font-size: 60px;
  // }
  // &__header__titleSmall {
  //   font-size: 40px;
  // }
  // h1 {
  //   font-size: 60px;
  // }
  // &__fs35 h1 {
  //   font-size: 35px;
  // }
  // &__titleSmall {
  //   h1 {
  //     font-size: 40px;
  //   }
  // }
  // &__header__column {
  //   font-size: 17px;
  // }
  &__sub__title {
    font-size: 20px;
    font-weight: bold;
    @media (max-width: 991px) {
      font-size: 18px;
    }
  }
}

@media (min-width: 992px) {
  .mt-lg-6 {
    margin-top: $rem4 !important;
  }
}

@media (max-width: 991px) {
  .pagination_style1 {
    margin-top: 50px;
  }
  .main-scroll {
    position: relative;
  }
  .tabs-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    .fa-hand-point-right {
      font-size: $rem1-5;
      position: absolute;
      top: 0;
      display: inline-block;
    }
  }
  .nav-tabs a.nav-link {
    display: inline-block;
    padding-left: 0;
    padding-right: 80px;
  }
}

/*fade*/

.animate {
  opacity: 0;
  transition: all 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  pointer-events: none;
}

.animate.active {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
}

.slide-in-down {
  transform: translateY(-100%) translateX(-50%);
}

/*notification*/

.notification-button {
  position: fixed;
  top: 60px;
  left: 50%;
  z-index: 101;
  padding: 10px 20px;
  background: #fad906;
  color: #000;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 800;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.05);
}
