$bg_purple: #23164e;
$line_gray: #2e2257;

$color_primary: #127de2;
$color_primary_2: #211952;
$color_gray: #b0b0b0;
$color_yellow: #ca9c1a;
$color_yellow_2: #e0aa00;
$color_time: #9791a9;

$line_primary: #283370;