$Roboto-Regular: 'Roboto-Regular';
$Roboto-Medium: 'Roboto-Medium';
$Roboto-Bold: 'Roboto-Bold';
$FolioStd-Bold: 'FolioStd-Bold';
$FolioStd-ExtraBold: 'FolioStd-ExtraBold';
$FolioStd-Light: 'FolioStd-Light';
$FolioStd-Medium: 'FolioStd-Medium';
$Arial: 'Arial';

$priamry_color : #FAD906;