.wrap-top{
    padding-bottom: 20px;
    padding-top: 40px;
    .cont1{
        a:nth-child(2){
            padding-left: 35px;
           color: #000;
        }
        a:nth-child(1){
            font-size: 17px;
            font-family: $Arial;
            padding-right: 35px;
            color:#919191;
            border-right: 1px solid #919191;
        }

    }
    .cont2{
        padding: 50px 0px 60px 0px;
        h1{
            font-size: 40px;
            font-family: $FolioStd-Bold;
        }
        h2{
            font-size: 20px;
            font-family: $Arial;
            font-weight: bold;
        }
    }
    .cont3{
        a:nth-child(1){
            padding-right: 40px;
            font-size: 17px;
            font-family: $Arial;
            font-weight: bold;
            color: #000;
            }
        a:nth-child(2){
            padding-right: 40px;
            font-size: 17px;
            font-family: $Arial;
            color:#000;
                }
    }
}
.wrap-cont{
   .banner{
       position: relative;
       .rec{
           position: absolute;
           top:0;
       }
       .content-about{
           span{
            position: absolute;
            top: 35%;
            left: 8%;
            width: 32%;
            font-size: 17px;
            font-family: $Arial;
           }
       }
   }
}
.wrap-product{
    .wrap4{
        padding-bottom: 40px;
        display: flex;
        .icon{
            padding-right: 25px;
        }
        .view{
            a{
                font-size: 20px;
                font-family: $FolioStd-Medium;
                color:#000;
                border-bottom: 1px solid #000;
            }
            
        }
    }
    .wrap3{
        padding-bottom: 60px;
        .availability{
            margin-right: 70px;
            h3{
                font-size: 20px;
                font-family: $FolioStd-Medium;
            } 
            p{
                font-size: 15px;
                font-family: $Arial;
            }
        }
        .australian{
            margin-right: 70px;
            h3{
                font-size: 20px;
                font-family: $FolioStd-Medium;
            } 
            p{
                font-size: 15px;
                font-family: $Arial;
            }
        }
    }
    .wrap2{
        padding-bottom: 60px;
        .quality{
            margin-right: 70px;
            h3{
                font-size: 20px;
                font-family: $FolioStd-Medium;
            } 
            p{
                font-size: 15px;
                font-family: $Arial;
            }
        }
        .warranty{
            margin-right: 70px;
            h3{
                font-size: 20px;
                font-family: $FolioStd-Medium;
            } 
            p{
                font-size: 15px;
                font-family: $Arial;
            }
        }
        .competitive{
            margin-right: 70px;
            h3{
                font-size: 20px;
                font-family: $FolioStd-Medium;
            } 
            p{
                font-size: 15px;
                font-family: $Arial;
            }
        }
    }
    .wrap1{
        padding-bottom: 60px;
        .innovation{
            margin-right: 70px;
            h3{
                font-size: 20px;
                font-family: $FolioStd-Medium;
            } 
            p{
                font-size: 15px;
                font-family: $Arial;
            }
    
        }
        .installation{
            margin-right: 70px;
            h3{
                font-size: 20px;
                font-family: $FolioStd-Medium;
            } 
            p{
                font-size: 15px;
                font-family: $Arial;
            }
        }
        .design{
            margin-right: 70px;
            h3{
                font-size: 20px;
                font-family: $FolioStd-Medium;
            } 
            p{
                font-size: 15px;
                font-family: $Arial;
            }
        }
    }
    .whatwedo{
        padding: 60px 0px;
        h2{
            font-family: $FolioStd-Bold;
            font-size: 40px;
        
        }
    }
}
.hero{
    padding-bottom: 80px;
}
.wrap-bot{
    .bot2{
        border-bottom: 1px ridge #E1E1E1;
        padding-bottom: 80px;
        .product2{
            img{
                padding-bottom: 25px;
                width: 98%;
            }
            h3{
                padding-bottom: 25px;
                font-size: 20px;
                font-family: $FolioStd-Medium;
            }
            p{
                font-size: 15px;
                font-family: $Arial;
            }
        }
        .product1{
            img{ 
                padding-bottom: 25px;
                width: 98%;
            }
            h3{ 
                font-size: 20px;
                font-family: $FolioStd-Medium;
                padding-bottom: 25px;
            }

            p{
                font-size: 15px;
                font-family: $Arial;
            }

        }
    }
    .bot1{
        padding-bottom: 30px;
        .slogan{
            p{
                font-size: 17px;
            font-family: $Arial;
            }
        }
        .product-quality{
            h2{
                font-size: 40px;
                font-family: $FolioStd-Bold;
            }
        }
    }
}
.count{
    padding-top: 30px;
    display: flex;
    .count-customers{
        p{
            font-size: 20px;
            font-family: $Arial;
            border-bottom: $priamry_color 10px solid;
            width: 51%;
            padding-bottom: 40px;
        }
        h2{
           padding-right:180px;
           font-size: 60px;
           font-family: $FolioStd-Bold;
        }
    }
    .count-completed{
        h2{
            padding-right:130px ;
            font-size: 60px;
            font-family: $FolioStd-Bold;
         }
         p{
            font-size: 20px;
            font-family: $Arial;
            border-bottom: $priamry_color 10px solid;
            width: 54%;
            padding-bottom: 40px;
        }

    }
    .count-kilomet{
        h2{
            font-size: 60px;
            font-family: $FolioStd-Bold;
         }
         p{
            font-size: 20px;
            font-family: $Arial;
            border-bottom: $priamry_color 10px solid;
            width: 54%;
            padding-bottom: 40px;
        }   
    }
}
.experience{
    padding-top: 40px;
    padding-bottom: 30px;
    .exp{
        p{
            font-size: 15px;
            font-family: $Arial;
        }
    }
}
.wrap-sign{
    border: #E1E1E1 1px solid;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    .gr{
        display: flex;
        align-items: center;
        .sign-up{
            padding-left: 70px;
            p{
                font-size: 20px;
                font-family: $FolioStd-Medium;
            }
            h3{
                font-size: 30px;
                font-family: $FolioStd-Bold;
            }
        }
        .info-me{
            input{
                margin: 40px;
                background-color:#E1E1E1;
                border: none;
                padding: 15px;
            }
            button{
                width: 150px;
                padding:15px;
                margin: 40px;
                background-color:$priamry_color;
                
            }
       
    }
    }
}