.road-applications
{
    padding: 9%;
    .install{
        p{
            font-size: 17px;
            font-family: $Arial;
            color:#fff;
        }
    };
}
.wrap-top{
    .decription{
        padding-bottom: 60px;
    }
    .nav-tabs{
        .nav-link{
            padding-bottom: 0px;
        }
    } 
}
.wrap-3img{
    padding-bottom: 20px;
    .pic{
        img{
            max-width: 100%;
            width: 100%;
        }
    }
}
.pls{
    p{
        font-size: 17px;
        font-family: $Arial;
        color:#000000;
        a{
            color:#000000;
            border-bottom: 1px solid #000000;
        }
    }
}
.post {
    p {
        margin-top: 10px !important;
        margin-right: 0 !important;
    }
}