button.btn.btn-fill-out, button.btn-line-fill {
    background-color: $priamry_color;
    padding-left: 20px;
    padding-right: 20px;
}

.product-quantity {
    .quantity {
        display: flex;

        input {
            border: 1px solid #ccc;
        }

        input[type=button] {
            width: 40px;
            background-color: transparent;
           
        }
    
        input[type=text] {
            text-align: center;
        }
    }
}