button.btn.btn-fill-out, button.btn-line-fill {
    background-color: $priamry_color;
    padding-left: 20px;
    padding-right: 20px;
}

.product-quantity {
    .quantity {
        display: flex;

        input {
            border: 1px solid #ccc;
            border-radius: none;
        }

        input[type=button] {
            width: 40px;
            background-color: transparent;
           
        }
    
        input[type=text] {
            text-align: center;
        }
    }
}

.box-cart-empty {
    margin-top: 100px;
    i {
        font-size: 30px;
    }

    p {
        font-size: 17px;
        margin-top: 20px;
    }

    a {
        width: 50%;
        margin-top: 10px;
        border: 1px solid $gray_text;
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 10px;
        color: $gray_text;
        font-weight: bold;
        background-color: $priamry_color;
    }
}