// Request A Quotation css
.content {
    ul {
        margin-block-start: 1em;
        margin-block-end: 1em;
        padding-inline-start: 40px;
    }
}

.contact-banner {
    padding-top: 28%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    position: relative;
    .title-contact {
        position: absolute;
        bottom: 16%;
        @media(max-width: 380px) {
            bottom: 0;
        }
        @media(max-width: 991px) {
            left: 7%;
        }
        h1 {
            font-size: 40px;
            font-family: $FolioStd-Bold;
            color: #fff;
        }
        p {
            @media (max-width: 1365px) {
                font-size: 17px; 
            }
            font-family: $Arial;
            color: #fff;
            max-width: 61%;
        }
    }
}

.list-group {
    padding-bottom: 90px;
    @media(max-width: 991px) {
        padding-bottom: 70px;
    }
    flex-direction: row;
    .list-group-item {
        &:focus {
            background-color: unset;
        }
        border: unset;
        text-transform: uppercase;
        padding: unset;
    }
}

.list-group-item.active {
    color: $gray-text;
    background-color: unset;
    border-color: unset;
    span:after {
        position: absolute;
        content: "";
        height: 4px;
        bottom: -27px;
        left: 0px;
        left: 0;
        right: 0;
        width: 15%;
        background: #FAD906;
        transition: 0.5s;
        @media(max-width: 991px) {
            bottom: -14px;
        }
    }
}

.list-group-item-action {
    &:hover {
        background-color: unset;
    }
    @media(max-width:380px) {
        margin-left: 11px;
        width: unset;
    }
}

.info-contact {
    .tab-content {
        .head-office {
            a:focus {
                color: #007bff;
                ;
            }
        }
    }
    h4 {
        font-weight: bold;
    }
}

.form-contact-us {
    .form-group {
        input {
            border: none;
            border-bottom: 1px solid rgba(112, 112, 112, .1);
            border-radius: unset;
            margin-top: 30px;
            padding-left: 0;
        }
        input:-webkit-autofill {
            -webkit-text-fill-color: unset;
        }
    }
    .message {
        input {
            border: none;
            border-bottom: 1px solid rgba(112, 112, 112, .1);
            margin-top: 30px;
            border-radius: unset;
            padding-left: 0;
        }
        input:-webkit-autofill {
            -webkit-text-fill-color: unset;
        }
    }
    .policy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        a {
            color: $gray-text;
            opacity: 40%;
            padding-left: 10px;
        }
        button {
            width: 200px;
            max-width: 200px;
            height: 50px;
            background-color: $priamry_color;
            color: $gray-text;
            border-radius: 4px;
            cursor: pointer;
        }
    }
    .custom-checkbox {
        input[type="checkbox"] {
            &:checked {
                background-color: #000000;
            }
        }
    }
}

.let-talk {
    .contact_infomation {
        a:focus {
            color: #000;
        }
        @media(max-width: 991px) {
            margin-left: 20%;
        }
        @media (max-width: 768px) {
            margin-left: 0;
        }
        padding-top: 30px;
    }
    padding-top: 3%;
    h3 {
        font-size: 25px;
        font-family: $FolioStd-Medium;
        text-transform: uppercase;
        padding-bottom: 25px;
        border-bottom: 1px solid rgba(112, 112, 112, .1);
    }
    .form-group,
    .message {
        .form-control:focus {
            box-shadow: none;
        }
    }
}

.visit-title {
    margin-top: 5%;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 5%;
}

.map-location {
    margin-bottom: -20px;
}

// custom check box

/* The customcheck */

.customcheck {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.customcheck a {
    @media(max-width: 480px) {
        font-size: 13px;
    }
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.customcheck:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.customcheck input:checked~.checkmark {
    background-color: #989898;
    border-radius: 50%;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.customcheck input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.customcheck .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2.4px 2.4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media(max-width:991px) {
    .let-talk {
        padding-top: 4% !important;
    }
}

@media(max-width:640px) {
    .contact-banner {
        .title-contact {
            h1 {
                font-size: 30px !important;
            }
            p {
                font-size: 11px !important;
            }
        }
    }
}

@media(max-width:768px) {
    .contact-banner {
        .title-contact {
            h3 {
                font-size: 20px;
            }
            p {
                font-size: 13px;
                max-width: 95%;
            }
        }
    }
    .list-group {
        font-size: 10px;
        padding-bottom: 40px;
    }
    .tab-content {
        h4 {
            font-size: 12px;
            @media (max-width: 480px) {
                font-size: 11px;
            }
        }
    }
    .let-talk {
        margin-top: 30px;
        h3 {
            font-size: 17px;
        }
        .form-contact-us {
            margin-left: 0px;
            .policy {
                display: unset;
                button {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
        .form-group input {
            margin: 10px 0;
            @media(max-width: 480px) {
                font-size: 13px;
            }
        }
        .message input {
            margin: 10px 0;
        }
    }
    .list-group-item.active span:after {
        bottom: -12px;
    }
    .visit-title {
        @media(max-width: 480px) {
            font-size: 17px;
        }
        margin: 40px 0;
    }
}

@media(min-width: 992px) {
    .head-office {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media(max-width:991px) {
    .form-contact-us {
        margin-left: 20%;
    }
}

.info-wrapper {
    display: grid;
    grid-template-columns: 20% 36% 20% 36%;
    gap: 3%;
    @media (max-width: 1600px) {
        grid-template-columns: 30% 57%;
    }
    @media(max-width: 991px) {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
        font-size: 13px;
    }
    @media(max-width: 480px) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10%;
        column-gap: 5%;
        align-items: center;
    }
}

.map-location {
    iframe {
        width: 100%;
        height: 500px
    }
}

// respon
@media(max-width:380px) {
    .contact-banner {
        .title-contact {
            h1 {
                font-size: 20px!important;
            }
            p {
                font-size: 11px;
            }
        }
    }
    .list-group {
        font-size: 10px;
        padding-bottom: 40px;
    }
}