.title-gallery {
    margin-bottom: 100px;
    max-width: 1030px;
    font-size: 17px;
}

.slider-gallery-wrapper {
    display: grid;
    grid-template-columns: 63.3% auto;
    .mySwiper-left {
        .img-right {
            img {
                display: block;
                width: unset;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .mySwiper-right {
        .img-left {
            img {
                display: block;
                width: unset;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

// }
.mySwiper-left {
    .pagination-wrapper {
        .swiper-pagination-fraction {
            color: $priamry_color;
            position: absolute;
            left: -40.5%;
            bottom: 37px;
            z-index: 2;
        }
        .text {
            z-index: 15;
            color: white;
            position: absolute;
            left: 18%;
            top: 92%;
            font-size: 20px;
        }
        .slider-pagination-custom {
            height: 40px;
            position: absolute;
            width: 140px;
            bottom: 30px;
            left: 50px;
            background-color: #000;
            z-index: 1;
            border-radius: 30px;
        }
        .swiper-button-prev:after {
            position: absolute;
            top: 7px;
            z-index: 10;
            cursor: pointer;
            background-color: #fff;
            padding: 0px;
            width: 23px;
            height: 23px;
            border-radius: 50%;
            background-position: center;
            padding: 4px 7px;
            box-sizing: border-box;
            font-size: 15px;
            color: #000;
            font-weight: bold;
        }
        .swiper-button-next:after {
            position: absolute;
            top: 7px;
            z-index: 10;
            cursor: pointer;
            background-color: #fff;
            padding: 0px;
            width: 23px;
            height: 23px;
            border-radius: 50%;
            background-position: center;
            padding: 5px 9px;
            box-sizing: border-box;
            font-size: 15px;
            color: #000;
            font-weight: bold;
            right: 54px;
        }
        .swiper-button-next,
        .swiper-button-prev {
            top: 94%;
        }
        .swiper-button-next {
            left: 17%;
        }
    }
}

.mySwiper-right {
    .pagination-wrapper {
        .swiper-pagination-fraction {
            color: $priamry_color;
            bottom: 19px;
            z-index: 2;
            width: 55%;
            left: 0;
        }
        .text-2 {
            z-index: 15;
            color: white;
            position: absolute;
            left: 7%;
            top: 94%;
            font-size: 20px;
        }
        .swiper-button-next {
            position: absolute;
            left: 17%;
            color: #fff;
            &::after {
                font-size: 40px;
                font-weight: bold;
            }
        }
        .swiper-button-prev {
            position: absolute;
            left: -2%;
            color: #fff;
            &::after {
                font-size: 40px;
                font-weight: bold;
            }
        }
    }
}

.news-event-gallery-wrapper {
    .news-post {
        a {
            color: $gray-text;
        }
    }
    .news-event--title {
        padding: 60px 0;
        h2 {
            font-size: 60px;
            font-family: $FolioStd-Medium;
        }
    }
    .news-post img {
        max-width: 100%;
    }
    .news-post--titlte {
        &:hover {
            background-color: #FAD906;
        }
        font-size: 20px;
        font-family: $FolioStd-Medium;
        @media (max-width: 1280px) {
            font-size: 17px;
        }
        h4 {
            padding: 25px 15px 25px 15px;
            @media (max-width: 1680px) {
                padding: 15px;
            }
            &:hover {
                background-color: $priamry_color;
            }
        }
    }
    .news-post {
        .news-post--content {
            padding-bottom: 40px;
        }
        .news-post-time {
            display: flex;
            align-items: center;
            .btn-share {
                margin-left: 30px;
                a {
                    padding: 10px 15px;
                    background-color: $priamry_color;
                    color: #000;
                    i {
                        padding: 0 5px;
                    }
                }
            }
        }
    }
    .read-more {
        padding-top: 100px;
        padding-left: 50px;
        padding-bottom: 100px;
        a {
            color: $gray-text;
            h3 {
                text-transform: uppercase;
                font-size: 20px;
                padding-bottom: 20px;
                border-bottom: 2px solid #262626;
                width: max-content;
                font-family: "FolioStd-Medium";
            }
        }
    }
}