.title-gallery {
    margin-bottom: 100px;
    max-width: 1030px;
    font-size: 17px;
}

.slider-gallery-wrapper {
    display: grid;
    grid-template-columns: 63.3% auto;
    .mySwiper-left {
        .img-right {
            img {
                display: block;
                width: unset;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .mySwiper-right {
        .img-left {
            img {
                display: block;
                width: unset;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

// }
.mySwiper-left {
    .pagination-wrapper {
        .swiper-pagination-fraction {
            color: $priamry_color;
            position: absolute;
            left: -40%;
            bottom: 25px;
            z-index: 1;
        }
        .text {
            z-index: 15;
            color: white;
            position: absolute;
            left: 17%;
            top: 94%;
            font-size: 20px;
        }
        .swiper-button-prev:after {
            position: absolute;
            top: 50%;
            z-index: 10;
            cursor: pointer;
            background-color: #fff;
            padding: 0px;
            width: 23px;
            height: 23px;
            border-radius: 50%;
            background-position: center;
            padding: 4px 7px;
            box-sizing: border-box;
            font-size: 15px;
            color: #000;
        }
        .swiper-button-next:after {
            position: absolute;
            top: 50%;
            z-index: 10;
            cursor: pointer;
            background-color: #fff;
            padding: 0px;
            width: 23px;
            height: 23px;
            border-radius: 50%;
            background-position: center;
            padding: 5px 9px;
            box-sizing: border-box;
            font-size: 15px;
            color: #000;
            font-weight: bold;
        }
        .swiper-button-next,
        .swiper-button-prev {
            top: 94%;
        }
        .swiper-button-next {
            left: 17%;
        }
    }
}

.mySwiper-right {
    .pagination-wrapper {
        .swiper-pagination-fraction {
            color: $priamry_color;
            bottom: 19px;
            z-index: 1;
            width: 55%;
            left: 0;
        }
        .text-2 {
            z-index: 15;
            color: white;
            position: absolute;
            left: 7%;
            top: 94%;
            font-size: 20px;
        }
        .swiper-button-next {
            position: absolute;
            left: 17%;
            color: #fff;
            &::after {
                font-size: 40px;
                font-weight: bold;
            }
        }
        .swiper-button-prev {
            position: absolute;
            left: -2%;
            color: #fff;
            &::after {
                font-size: 40px;
                font-weight: bold;
            }
        }
    }
}