.location-office-wrapper {
    padding-top: 70px;
    .left-content-wrapper {
        position: relative;
        background-color: #FAD906;
        height: 100%;
        .left-content {
            position: absolute;
            display: flex;
            bottom: 40%;
            align-items: center;
            left: 45px;
            width: 95%;
            h2 {
                font-size: 40px;
                font-family: $FolioStd-Medium;
                padding-left: 20px;
            }
            img {
                width: 19%;
            }
        }
        p {
            position: absolute;
            bottom: 25%;
            left: 45px;
            font-size: 20px;
            font-family: $Arial;
            font-weight: bold;
        }
    }
    .right-content {
        position: relative;
        img {
            max-width: 100%;
        }
        .right-content-item {
            position: absolute;
            display: flex;
            bottom: 40px;
            left: 45px;
            color: $priamry_color;
            justify-content: space-between;
            width: 85%;
            align-items: center;
            a {
                width: 20px;
                color: $priamry_color;
            }
            p {
                font-size: 20px;
                font-family: $FolioStd-Medium;
            }
        }
    }
    .office-of-us {
        display: flex;
        width: 100%;
        padding-top: 30px;
        .image-mid-1 {
            position: relative;
            p {
                position: absolute;
                bottom: 30px;
                left: 50px;
                color: #fff;
                font-size: 20px;
                font-family: $FolioStd-Medium;
            }
            img {
                max-width: 100%;
            }
        }
        .image-mid-2 {
            position: relative;
            p {
                position: absolute;
                bottom: 30px;
                left: 50px;
                color: #fff;
            }
            img {
                max-width: 100%;
            }
        }
        .image-mid-3 {
            position: relative;
            p {
                position: absolute;
                bottom: 30px;
                left: 50px;
                color: #fff;
            }
            img {
                max-width: 100%;
            }
        }
    }
}

.service-us-wrapper {
    padding-top: 100px;
    .left-content-wrapper {
        position: relative;
        background-color: $priamry_color;
        height: 100%;
        width: 100%;
        .left-content {
            position: absolute;
            display: flex;
            bottom: 40%;
            align-items: center;
            left: 45px;
            width: 95%;
            h2 {
                font-size: 40px;
                font-family: $FolioStd-Medium;
                padding-left: 20px;
            }
            img {
                width: 19%;
            }
        }
        p {
            position: absolute;
            bottom: 25%;
            left: 45px;
            font-size: 20px;
            font-family: $Arial;
            font-weight: bold;
        }
    }
    .right-content-wrapper {
        .right-content {
            img {
                max-width: 100%;
            }
        }
        .right-content-item {
            position: relative;
            p {
                position: absolute;
                bottom: 30px;
                left: 50px;
                color: #fff;
                font-family: $FolioStd-Medium;
                font-size: 20px;
            }
        }
    }
    .service-of-us {
        display: flex;
        width: 100%;
        padding-top: 30px;
        .image-mid-2 {
            position: relative;
            img {
                max-width: 100%;
            }
            .image-mid-item {
                position: absolute;
                display: flex;
                align-items: center;
                bottom: 25px;
                left: 45px;
                color: $priamry_color;
                justify-content: space-between;
                width: 85%;
                font-family: $FolioStd-Medium;
                p {
                    font-size: 20px;
                }
                a {
                    color: $priamry_color;
                    i {
                        width: 40px;
                    }
                }
            }
        }
        .image-mid-1 {
            position: relative;
            p {
                position: absolute;
                bottom: 30px;
                left: 50px;
                color: #fff;
                font-family: $FolioStd-Medium;
                font-size: 20px;
            }
            img {
                max-width: 100%;
            }
        }
        .image-mid-3 {
            position: relative;
            p {
                position: absolute;
                bottom: 30px;
                left: 50px;
                color: #fff;
                font-family: $FolioStd-Medium;
                font-size: 20px;
            }
            img {
                max-width: 100%;
            }
        }
    }
}

.product-range-wrapper {
    .product-range-title {
        padding-top: 100px;
        padding-bottom: 60px;
        h2 {
            font-size: 60px;
            font-family: $FolioStd-Medium;
        }
        p {
            font-size: 20px;
            font-family: $Arial;
        }
    }
    .product-range-content {
        h4:not(.wheelstop) {
            padding-bottom: 30px;
            font-size: 20px;
            font-family: $FolioStd-Medium;
        }
        .wheelstop {
            background-color: $priamry_color;
            width: 80%;
            height: 22%;
            h4 {
                padding: 13px;
                text-align: center;
                font-size: 20px;
                margin-top: -13px;
            }
            p {
                padding-top: 23px!important;
                width: 100%
            }
        }
        p {
            padding-top: 10px;
            width: 86%;
        }
    }
    .product-view {
        display: flex;
        align-items: center;
        padding-top: 50px;
        h3 {
            font-size: 20px;
            text-transform: uppercase;
            font-family: "FolioStd-Medium";
            margin-left: 50px;
            display: block;
            padding-right: 10px;
            border-bottom: 2px solid #262626;
            padding-bottom: 20px;
        }
    }
}

.news-event-wrapper {
    .news-event--title {
        padding: 100px 0 70px 0;
        h2 {
            font-size: 60px;
            font-family: $FolioStd-Medium;
        }
    }
    .news-post img {
        max-width: 100%;
    }
    .news-post--titlte {
        font-size: 20px;
        font-family: $FolioStd-Medium;
        h4 {
            padding: 25px 15px 25px 15px;
        }
        .color-mid {
            background-color: $priamry_color;
        }
    }
    .news-post--content {
        padding-bottom: 40px;
    }
    .news-post-time {
        display: flex;
        align-items: center;
        .btn-share {
            margin-left: 30px;
            a {
                padding: 10px 15px;
                background-color: $priamry_color;
                color: #000;
                img {
                    padding: 0 5px;
                }
            }
        }
    }
    .read-more {
        padding-top: 100px;
        padding-left: 50px;
        padding-bottom: 100px;
        h3 {
            text-transform: uppercase;
            font-size: 20px;
            padding-bottom: 20px;
            border-bottom: 2px solid #262626;
            width: max-content;
            font-family: "FolioStd-Medium";
        }
    }
}

.swiper-container {
    width: 100%;
    background: #000;
    min-height: 768px;
}

.swiper-slide {
    height: 768px;
    position: relative;
    color: #fff;
    -webkit-box-sizing: border-box;
    .swiper-content {
        position: absolute;
        bottom: 70px;
        left: 160px;
        width: 100%;
        .logo-slider {
            img {
                width: 14%;
            }
        }
        .title-slider {
            font-size: 50px;
            width: max-content;
            font-family: $FolioStd-Bold;
        }
        .text-slider {
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            p:nth-child(1) {
                font-size: 40px;
                font-family: $FolioStd-Medium;
                &:after {
                    content: "";
                    position: absolute;
                    right: -10px;
                    background-color: #fff;
                    width: 2px;
                    height: 20px;
                    left: 36.5%;
                    top: 42%;
                }
            }
            p:nth-child(2) {
                font-size: 17px;
                font-family: $Arial;
            }
        }
    }
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-image: url('../../../public/images/header/footer.png');
}