.location-office-wrapper,
.service-us-wrapper {
    .location-office {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 5%;
        grid-column-gap: 2%;
        .left-content {
            grid-row: 1;
            grid-column: 1/3;
            background-color: $priamry_color;
            position: relative;
            .gallery__item {
                position: absolute;
                bottom: 14%;
                left: 6%;
            }
            .gallery__item-group {
                display: flex;
                align-items: center;
                h2 {
                    font-size: 40px;
                    margin-left: 20px;
                    font-family: $FolioStd-Medium;
                }
            }
            p {
                font-size: 20px;
                margin-top: 25px;
                font-weight: bold;
            }
        }
        .grid__item {
            position: relative;
            &:hover .gallery__item-text {
                color: $priamry_color;
                i {
                    display: block;
                }
            }
            img {
                width: 100%;
            }
            a {
                display: block;
                .gallery__item-text {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    max-width: 100%;
                    width: 87%;
                    bottom: 9%;
                    left: 7%;
                    font-size: 20px;
                    color: #fff;
                    i {
                        display: none;
                    }
                }
            }
        }
    }
}

.product-range-wrapper {
    .product-range-title {
        margin-top: 120px;
        margin-bottom: 30px;
        h2 {
            font-size: 60px;
            font-family: $FolioStd-Medium;
        }
        p {
            font-size: 20px;
            font-family: $Arial;
        }
    }
    .product-range-content {
        h4 {
            font-size: 20px;
            font-family: $FolioStd-Medium;
            &:hover {
                font-weight: bold;
            }
        }
        p {
            padding-top: 10px;
            width: 86%;
        }
    }
    .product-view {
        a {
            display: flex;
            align-items: center;
            color: $gray-text;
        }
        h3 {
            font-size: 20px;
            text-transform: uppercase;
            font-family: "FolioStd-Medium";
            margin-left: 50px;
            display: block;
            padding-right: 10px;
            border-bottom: 1px solid #262626;
            padding-bottom: 10px;
        }
    }
}

.news-event-wrapper {
    .news-post {
        a {
            color: $gray-text;
        }
    }
    .news-event--title {
        padding: 100px 0 70px 0;
        h2 {
            font-size: 60px;
            font-family: $FolioStd-Medium;
        }
    }
    .news-post img {
        max-width: 100%;
    }
    .news-post--titlte {
        &:hover {
            background-color: #FAD906;
        }
        font-size: 20px;
        font-family: $FolioStd-Medium;
        @media (max-width: 1280px) {
            font-size: 17px;
        }
        h4 {
            padding: 25px 15px 25px 15px;
            @media (max-width: 1680px) {
                padding: 15px;
            }
            &:hover {
                background-color: $priamry_color;
            }
        }
    }
    .news-post {
        .news-post--content {
            padding-bottom: 20px;
        }
        .news-post-time {
            display: flex;
            align-items: center;
            
            .btn-share {
                margin-left: 30px;
                a {
                    display: inline-block;
                    padding: 10px 15px;
                    background-color: $priamry_color;
                    color: #000;
                    i {
                        padding: 0 5px;
                    }
                }
            }
        }
    }
    .read-more {
        margin-top: 80px;
        margin-bottom: 50px;
        a {
            color: $gray-text;
            h3 {
                text-transform: uppercase;
                font-size: 20px;
                padding-bottom: 20px;
                border-bottom: 2px solid #262626;
                width: max-content;
                font-family: "FolioStd-Medium";
            }
        }
    }
}

.bg-slider {
    padding-top: 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    width: unset;
    bottom: 11%;
    right: 4%;
    left: unset;
}

.swiper-pagination {
    .swiper-pagination-bullet {
        transition: 0.1s;
        background-color: white;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        transition: 0.1s;
        background-color: $priamry_color;
    }
}

.swiper-button-prev:after {
    font-size: 50px;
    position: absolute;
    left: 50px;
}

.swiper-button-next:after {
    font-size: 50px;
    position: absolute;
    right: 50px;
}

.swiper-slide {
    position: relative;
    color: #fff;
    .swiper-content {
        position: relative;
        bottom: 70px;
        .logo-slider {
            img {
                width: 14%;
                @media (max-width: 1440px) {
                    width: 11%;
                }
            }
        }
        .title-slider {
            font-size: 50px;
            width: max-content;
            font-family: $FolioStd-Bold;
            @media (max-width: 1680px) {
                font-size: 45px;
            }
            @media (max-width: 1440px) {
                font-size: 30px;
            }
            @media (max-width: 1366px) {
                font-size: 25px;
            }
        }
        .text-slider {
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            gap: 70px;
            @media (max-width: 991px) {
                grid-template-columns: unset;
                gap: 20px;
            }
            p:nth-child(1) {
                font-size: 40px;
                font-family: $FolioStd-Medium;
                @media (max-width: 1680px) {
                    font-size: 30px;
                }
                @media (max-width: 1440px) {
                    font-size: 25px;
                }
                @media (max-width: 1366px) {
                    font-size: 21px;
                }
                @media (max-width: 1280px) {
                    font-size: 19px;
                }
                &:after {
                    @media (max-width: 1280px) {
                        font-size: 13px;
                    }
                }
            }
            p:nth-child(2) {
                font-size: 17px;
                font-family: $Arial;
                @media (max-width: 1680px) {
                    font-size: 16px;
                }
                @media (max-width: 1440px) {
                    font-size: 14px;
                }
                @media (max-width: 1440px) {
                    font-size: 13px;
                }
                @media (max-width: 1440px) {
                    font-size: 11px;
                    width: 70%;
                }
            }
        }
    }
}

@media(max-width:1440px) {
    .location-office-wrapper,
    .service-us-wrapper {
        .location-office {
            .left-content {
                .gallery__item {
                    .gallery__item-group {
                        h2 {
                            font-size: 30px;
                        }
                        img {
                            width: 174px;
                            height: 52px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:1100px) {
    .location-office-wrapper,
    .service-us-wrapper {
        .location-office {
            .left-content {
                .gallery__item {
                    .gallery__item-group {
                        h2 {
                            font-size: 25px;
                        }
                        img {
                            width: 118px;
                            height: 40px;
                        }
                    }
                }
                p {
                    font-size: 17px;
                    margin-top: 10px;
                }
            }
            .grid__item {
                a {
                    .gallery__item-text {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

@media(max-width:880px) {
    .location-office-wrapper,
    .service-us-wrapper {
        .location-office {
            margin-top: 30px;
            .left-content {
                .gallery__item {
                    .gallery__item-group {
                        h2 {
                            font-size: 20px;
                        }
                        img {
                            width: 90px;
                            height: 30px;
                            @media(max-width: 380px) {
                                width: 70px;
                            }
                        }
                    }
                }
                p {
                    font-size: 15px;
                    margin-top: 5px;
                }
            }
            .grid__item {
                a {
                    .gallery__item-text {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media(max-width:700px) {
    .location-office-wrapper,
    .service-us-wrapper {
        .location-office {
            .left-content {
                .gallery__item {
                    .gallery__item-group {
                        h2 {
                            font-size: 17px;
                        }
                    }
                }
                p {
                    font-size: 13px;
                    margin-top: 5px;
                }
            }
            .grid__item {
                a {
                    .gallery__item-text {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media(max-width:600px) {
    .location-office-wrapper,
    .service-us-wrapper {
        .location-office {
            display: flex;
            flex-direction: column;
            .left-content {
                height: 191px;
                .gallery__item {
                    bottom: 37%;
                    left: 6%;
                    .gallery__item-group {
                        h2 {
                            font-size: 17px;
                            @media(max-width: 411px) {
                                font-size: 14px;
                                margin-left: 10px;
                            }
                        }
                    }
                }
                p {
                    font-size: 13px;
                    margin-top: 5px;
                }
            }
            .grid__item {
                margin-top: 30px;
                a {
                    .gallery__item-text {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media (max-width:991px) {
    .news-event-wrapper .news-post--titlte h4 {
        padding: 15px 0;
    }
    .count {
        .box-count {
            text-align: center;
            margin-bottom: 50px;
            p::after {
                left: 50% !important;
                transform: translateX(-50%);
            }
        }
    }
    .swiper-slide {
        .swiper-content {
            bottom: 50px;
            .text-slider {
                width: 100%;
            }
        }
    }
    .swiper-button-prev:after {
        display: none;
    }
    .swiper-button-next:after {
        display: none;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets {
        left: 0;
        bottom: 0;
    }
    .product-range-wrapper {
        .product-range-title {
            margin-top: 70px;
            margin-bottom: 20px;
            h2 {
                font-size: 30px;
            }
            p {
                font-size: 13px;
            }
        }
        .product-range-content {
            h4 {
                font-size: 17px;
            }
            p {
                font-size: 13px;
            }
        }
        .product-view a {
            display: flex;
            align-items: center;
            color: $gray-text;
            h3 {
                font-size: 20px;
                padding-bottom: 5px;
                padding-right: 0;
            }
        }
    }
    .news-event-wrapper {
        .news-event--title {
            h4 {
                font-size: 15px;
            }
            padding: 50px 0 35px 0;
            h2 {
                font-size: 30px;
            }
        }
        .news-post--content {
            font-size: 13px;
        }
        .read-more {
            margin-top: 0;
            margin-bottom: 30px;
        }
    }
}

@media(max-width:991px) {
    .news-event-wrapper {
        .news-post {
            .news-post-time {
                justify-content: space-between;
            }
        }
    }
}

@media(max-width:768px) {
    .swiper-slide {
        .swiper-content {
            .text-slider {
                p:nth-child(1) {
                    font-size: 15px;
                }
            }
            .title-slider {
                font-size: 14px;
                padding-top: 5px;
            }
        }
    }
}

@media(max-width:576px) {
    .swiper-slide {
        .swiper-content {
            .text-slider {
                p:nth-child(1) {
                    font-size: 13px;
                }
                p:nth-child(2) {
                    width: 71%;
                }
            }
        }
    }
    .product-range-wrapper {
        .product-range-title {
            margin-top: 60px;
            margin-bottom: 0;
        }
        .product-range-content {
            p:nth-child(3) {
                padding-bottom: 10px;
            }
        }
    }
    .news-event-wrapper {
        .news-post {
            .news-post--titlte {
                font-size: 15px;
            }
        }
    }
    .experience {
        padding-top: 20px !important;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {
    /* CSS */
    .news-event-wrapper .news-post .news-post-time {
        padding-top: 10px;
        .type {
            margin: 0;
        }
    }
}

@media(max-width:480px) {
    .swiper-slide {
        .swiper-content {
            .logo-slider img {
                width: 19%;
            }
            .text-slider {
                @media(max-width: 1920px) {
                    p:nth-child(1):after {
                        display: none;
                    }
                }
                p:nth-child(1):after {
                    display: none;
                }
            }
        }
    }
    .product-range-wrapper {
        .product-range-content p {
            width: 100%;
        }
    }
    .news-event-wrapper {
        .news-post {
            .news-post-time {
                align-items: center;
                margin-bottom: 30px;
                display: flex;
                .btn-share {
                    margin-top: 0;
                }
            }
        }
    }
    /* CSS */
    .news-event-wrapper .news-post .news-post-time {
        padding-top: 10px;
        .type {
            margin: 0;
        }
    }
    .news-event-wrapper .read-more {
        margin-top: -15px;
        margin-bottom: 25px;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
}