$gray_text: #262626;

@mixin str_split {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.pages-news-media {
    .my-7.mt-n20 {
        margin-top: 2.80rem;
        margin-bottom: 4rem;
    }

    .box-media {

        .content {
            .item {

                img {
                    max-width: 100%;
                    min-width: 100%;
                }
                h3 {
                    font-size: 20px;
                    color: $gray_text;
                    padding: 25px 15px;
                }
                h3:hover {
                    background-color: #fad906;
                }

                code {
                    color: $gray_text;
                    font-size: 15px;
                    @include str_split();
                    -webkit-line-clamp: 3;
                }

                .options {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    display: flex;

                    > div, >a {
                        display: inline-block;
                        padding-left: 20px;
                        padding-right: 20px;
                        height: 35px;
                        line-height: 35px;
                        margin-left: 10px;
                        margin-right: 10px;
                    }

                    > div:first-child {
                        padding-left: 0;
                        margin-left: 0;
                    }

                    .date {
                        color: $gray_text;
                        font-size: 15px;
                    }

                    .share {
                        background-color: #fad906;
                        color: $gray_text;
                    }

                    .share::after {
                        font-family: "Font Awesome 5 Pro";
                        content: "\f1e0";
                    }

                    .type {
                        background-color: #262626;
                        color: $priamry_color;
                        max-width: 85px;
                    }

                    .date, .type, .share {
                        @include str_split();
                        -webkit-line-clamp: 1;
                    }
                }
            }
        }
    }
    #tile-1 {

        .nav-tabs {
            position: relative;
            background-color: #fff;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14);
            border-radius: 6px;
            margin-bottom: 20px;

            li {
                margin: 0px !important;
            }

            li a {
                position: relative;
                margin-right: 0px !important;
                padding: 20px 40px 20px 0;
                border: none !important;
                color: $gray_text;
                font-family: "FolioStd-Medium";
            }

            .active {
                background-color: transparent !important;
                border: none !important;
                color: #734D37 !important;
            }
        }

        .nav-tabs a:hover {
            background-color: #fff !important;
            border: none;
        }

        .slider {
            display: inline-block;
            width: 30px;
            height: 4px;
            border-radius: 3px;
            background-color: yellow;
            position: absolute;
            z-index: 1200;
            bottom: 0;
            transition: all 0.4s linear;
        }

        .tab-content {
            h5 {
                font-size: 17px;
                @include str_split();
                -webkit-line-clamp: 1;

                a {
                    color: $gray_text;
                    font-weight: bold;
                }
            }

            .date, .des{
                margin-top: 10px;
                margin-bottom: 10px;
                color: $gray_text;
                font-size: 15px;
                
                @include str_split;
                -webkit-line-clamp: 2;
            }

            .tab-pane {
                .item-row {
                    >.row {
                        >div:nth-child(odd) {
                            padding-left: 0;
                        }
                    }

                    margin-bottom: 20px;

                    >.row {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

.wrap-sign {    
    .sign-up {
        text-align: center;
    }
    .form-flex-lg {
        display: flex;
        flex-wrap: wrap;
    }

    .input__field, .button__field {
        width: 100% !important;
        margin: 0px !important;
        font-size: 15px !important;
        height: 100%;
        padding: 7px 15px;
    }
}

@media (min-width: 1500px) {
    .input__field, .button__field {
        padding: 15px 25px !important;
    }
}

@media (min-width: 1281px) {
  
    .pages-news-media #tile-1 .tab-content .tab-pane .item-row > .row {
        >div:nth-child(odd) {
            padding-right: 30px !important;
        }
        >div:nth-child(even) {
            padding-left: 30px !important;
        }
    }
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (max-width: 991px) {
    .pages-news-media .box-media .content .item h3 {
        padding: 20px 0;
    }
    /* CSS */
    .p0-md {
        padding-left: 0;
    }

    .pages-news-media #tile-1 .tab-content .tab-pane .item-row{
        margin-bottom: 0;
    }

    .mb-md-line {
        margin-bottom: 20px;
    }
    
}


@media  (max-width: 1280px) and (min-width: 576px) {
  
  /* CSS */

  .pages-news-media .box-media .content .item .options {
        display: inherit;
        padding-top: 10px;

        >div:first-child {
            display: block;
            text-align: left;
        }     

        .share {
            margin-left: 0;
        }

        .type {
            margin: 0;
        }
  }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

@media (min-width: 991px){
    .col-lg-28 {
        width: 28%;
        flex: 28%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .col-lg-16 {
        width: 16%;
        flex: 16%;
        margin-top: 0;
        margin-bottom: 0;
    }

    
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

@media (max-width: 576px) {
    
}

@media (max-width: 380px) {
    .pages-news-media .box-media .content .item .options {
        display: inherit;
        padding-top: 10px;

        >div:first-child {
            display: block;
            text-align: left;
        }     

        .share {
            margin-left: 0;
        }

        .type {
            margin: 0;
        }
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

