.breadcrumb {
    background: none;
    padding: 3% 0 3% 0;
    margin-bottom: 0;
    .breadcrumb-item+.breadcrumb-item::before {
        content: "|";
        color: $gray;
        opacity: 20%;
        padding: 0 25px;
        @media(max-width: 380px) {
            padding: 0 10px;
        }
    }
    .breadcrumb-item {
        a {
            color: $gray;
            text-decoration: none;
        }
    }
    .active {
        color: $gray_text;
        font-weight: 100;
    }
}

.set-height {
    height: 200px;
    margin-top: 30px;
}

.introduction-product {
    .introduction-product-title {
        font-size: 40px;
        font-family: $FolioStd-Bold;
        p {
            font-size: 20px;
            font-family: $Arial;
            font-weight: bold;
        }
    }
}

.introduction-product-banner {
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 50px;
    height: 380px;
    justify-self: end;
    display: flex;
    justify-content: flex-end;
    
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.fa-chevron-down.show{
    display: block !important;
}
.fa-chevron-down{
    display: none !important;
}
.fa-chevron-up.show{
    display: block !important;
}
.fa-chevron-up{
    display: none !important;
}
.product-wrapper {
    padding-top: 3.5%;
    #sidebar {
        max-width: 330px;
        background: #EFEFEF;
        color: #000;
        transition: all 0.3s;
        .list-unstyled{
            .dropdown-toggle, .toggle-text {
                color: #000;
                padding: 18px 0;
            }
            .icon {
                display: none;
            }
        }
        a {
            height: 100%;
            color: #262626;
            font-size: 17px;

            &:hover{
                font-weight: bold;
            }
        }
        a.active {
            font-weight: bold;
        }
        
        .list-categories {
            line-height: 1.4;
            li:first-child {
                padding-top: 9px;
            }
            li:last-child {
                padding-bottom: 9px;
            }
            li {
                a {
                    padding: 9px 34px;
                    display: block;
                    text-decoration: none;
                    font-size: 16px;
                    font-family: $Arial;
                    color: $gray-text;
                    &:hover {
                        color: $gray-text;
                    }
                }
            }
        }
    }
    .product-filter {
        display: flex;
        justify-content: space-between;
        >div {
            margin-right: 10px;
        }
        >div:last-child {
            margin-right: 0;
        }
        .product_filter--search {
            >.form__search {
                width: 370px;
                height: 50px;
                display: flex;
                align-items: baseline;
                background-color: #efefef;
                .header__search-input {
                    border: none;
                    outline: none;
                    font-size: 16px;
                    font-family: $Arial;
                    width: 100%;
                    color: $gray_text !important;
                    -webkit-text-fill-color: $gray-text !important;
                    height: 100%;
                    background-color: transparent;
                    padding-left: 20px;
                    &:focus {
                        box-shadow: unset;
                    }
                }
                button {
                    background-color: transparent;
                    border: none;
                    height: 100%;
                    padding-right: 20px;
                    border-top-left-radius: unset;
                    border-bottom-left-radius: unset;
                    &:focus {
                        border: unset;
                        box-shadow: none;
                    }
                    i {
                        font-size: 18px;
                        opacity: 30%;
                        color: #000;
                    }
                }
            }
        }
        .custom_select,
        .custom_sort {
            background-color: #efefef;
            padding-left: 15px;
            padding-right: 15px;
            align-items: center;
            display: flex;
            // &:before {
            //     content: ">";
            //     position: absolute;
            //     display: block;
            //     color: #848484;
            //     top: 36%;
            //     right: 20px;
            //     font-weight: 900;
            //     pointer-events: none;
            //     font-size: 12px;
            //     transform: rotate(90deg);
            // } 
            .form-control {
                box-shadow: none;
            }
            position: relative;
            select {
                padding: 0;
                color: $gray-text;
                margin-right: 10px;
                font-size: 16px;
                &::after {
                    font-size: 1rem;
                    top: 10px;
                    right: 0px;
                    position: absolute;
                }
                // hide arrow select 8.2 5 
                -webkit-appearance: none;
                appearance: none;
                position: relative;
                //
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                background-position: right center;
                background-repeat: no-repeat;
                background-size: 0.8rem;
                background-origin: content-box;
                // 
                border: none;
                background-color: #efefef;
                height: 100%;
                // padding: 5px 30px 8px 10px;
                width: 100%;
                option {
                    font-size: 16px;
                    font-family: $Arial;
                }
            }
            span.down::before {
                content: "\f107";
                font-family: "Font Awesome 5 Pro";
            }
        }
    }
}

#sidebar ul li.active>div {
    background: $priamry_color;
    border-bottom: 1px solid white;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: none;
}

.product-item-wrapper {
    .product-name {
        font-weight: bold;
    }

    code {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        font-family: "Arial";
    }

    padding-top: 15%;
    a {
        .product-item {
            height: 250px;
           
            &:hover .overlay {
                opacity: 1;
            }
        }
        color: $gray-text;
        .overlay {
            position: absolute;
            bottom: 0;
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            transition: .5s ease;
            opacity: 0;
            padding: 35%;
            text-align: center;
            i {
                font-size: 40px;
                color: $priamry_color;
            }
        }
        .product-name {
            padding: 15px 0;
            font-size: 16px;
            min-height: 68px;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            font-family: "Arial";
        }
    }
}

@media(max-width:1280px) {
    .product-wrapper {
        #sidebar {
            .list-unstyled {
                .dropdown-toggle {
                    padding: 18px 10px;
                }
            }
            .list-categories li a {
                padding: 7px 8px;
            }
        }
    }
}

@media screen and(min-width: 1059px) and (max-width: 1176px) {
    .custom_select {
        .form-control {}
    }
    .custom_sort {
        .form-control {}
    }
}

@media screen and(min-width: 992px) and (max-width: 1058px) {
    .custom_select {
        .form-control {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .custom_sort {
        .form-control {}
    }
}

@media(max-width:991px)
{
    .product-wrapper{
        padding-bottom: 0 !important;
    }
    .product-item-wrapper {
        padding-top: 12% !important;
    }
}
@media screen and(min-width: 912px) and (max-width: 990px) {
    .custom_select {
        .form-control {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .custom_sort {
        .form-control {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

@media screen and(min-width: 992px) and (max-width: 1036px) {
    .custom_select {
        .form-control {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .custom_sort {
        .form-control {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

@media screen and(min-width: 770px) and (max-width: 970px) {
    .custom_select {
        .form-control {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .custom_sort {
        .form-control {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

//left menu
@media screen and(min-width: 772px) {
    .dropdown-toggle {
        p {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

@media screen and(min-width: 768px) and (max-width: 990px) {
    .dropdown-toggle {
        p {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

@media screen and(min-width: 666px) and (max-width: 766px) {
    #sidebar {
        .list-categories {
            //display: none;
        }
        .dropdown-toggle {
            display: block;
        }
    }
    .product-filter {}
    .overlay {
        padding: 22%;
    }
}

@media (max-width: 768px) {
    .product-wrapper .product-filter .custom_select,
    .product-wrapper .product-filter .custom_sort {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .product-wrapper .product-filter {
        flex-wrap: wrap;
        >div {
            margin-right: 0;
            margin-bottom: 10px;
            &:first-child {
                width: 100%;
                form {
                    width: 100% !important;
                }
            }
        }
    }
}
@media (max-width: 480px){
    .product-item-wrapper a .product-item{
        height: auto;
    }
}