.wrap-top{
    .top1{
        padding-bottom: 60px;
        display: flex;
        p:nth-child(1){
            padding-right: 40px;
            border-right: 1px solid #919191 ;
            a{
                color:#919191;
                font-size: 17px;
                font-family: $Arial;
            }
        }
        p:nth-child(2){
            padding-left: 40px;
            a{
                color: #000000;
                font-size: 17px;
                font-family: $Arial;
            }
        }
    }
    .top2{
        padding-bottom: 60px;
        h2{
            font-size: 40px;
            font-family: $FolioStd-Bold;
            color: #000000;
        }
        p{
            font-size: 20px;
            font-weight: bold;
            font-family: $Arial;
            color: #000000;
        }
    }
    .menu{
        .navbar{
            padding-left: 0px;
        }

        ul{
            li{
                a{
                 padding-right: 50px;
                 font-size: 17px;
                 color:#000000 ;
                 font-family: $Arial;
               }
            }
            display: flex;
            li:nth-child(5){
                a{ 
                font-weight: bold;
                padding-right: 50px;
                 font-size: 17px;
                 color:#000000 ;
                 font-family: $Arial;
                }
            }
            li:nth-child(7){
                a{ 
                 padding-right: 50px;
                 font-size: 17px;
                 color:#000000 ;
                 font-family: $Arial;
                }
            }
            li:nth-child(6){
                a{ 
                    padding-right: 50px;
                    font-size: 17px;
                    color:#000000 ;
                    font-family: $Arial;
                }
            }
            li:nth-child(4){
                a{ 
                    padding-right: 50px;
                    font-size: 17px;
                    color:#000000 ;
                    font-family: $Arial;
                }
            }
            li:nth-child(3){
                a{ 
                    padding-right: 50px;
                    font-size: 17px;
                    color:#000000 ;
                    font-family: $Arial;
                }
            }
            li:nth-child(2){
                a{ 
                 padding-right: 50px;
                 font-size: 17px;
                 color:#000000 ;
                 font-family: $Arial;
                }
            }
            li:nth-child(1){
                a{  padding-left: 0px;
                    padding-right: 50px;
                    font-size: 17px;
                    color:#000000 ;
                    font-family: $Arial;
                }
            }
        }
    }
}
.wrap-car{
    padding: 3% 30% 0% 3%;
    background-image: url('../../../public/images/service/carpark.png'),url('../../../public/images/service/reccar.png');
    .wrap-system{
        padding-bottom: 10%;
        .system1{
            padding-right: 4%;
        }
        .system2{
            padding-right: 4%;
        }
        .system3{
            padding-right: 4%;
        }

        h3{
            color:$priamry_color;
            font-size: 20px;
            font-family: $Arial;
            font-weight: bold;
        }
        p{
            color:#FFFFFF;
            font-size: 17px;
            font-family: $Arial;
        }
    }
   
    .car-park{
        h2{
            color: $priamry_color;
            font-size: 20px;
            font-family: $Arial;
            font-weight: bold;
            padding-bottom: 4%;
        }
        p{
            font-size: 17px;
            font-family: $Arial;
        }
        p:nth-child(2){
            padding-bottom: 4%;
            color:#FFFFFF;
        }
        p:nth-child(3){
            padding-bottom: 6%;
            color:#FFFFFF;
            }
        }
    }
.wrap-our{
    .service{
        padding:50px 0px 50px 0px;
        font-size: 40px;
        font-family: $FolioStd-Bold;
        color:#000000;
    }
    .asset{
        padding-bottom: 20px;
        .pic1{
            .icon{
                
                border-radius: 50%;
                border: 0.01px solid rgba(0, 0, 0, 0.3) ; 
                width: 80px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top:50%;
                z-index:34 ;
                left:44%;
                border-radius:1px solid 50% #000;
                background: rgba(0, 0, 0, 0.5);
                opacity: 0;
                i{
                    color: $priamry_color;
                }
            }
            &:hover {
                p{
                    color:$priamry_color;
                }
                .icon{
                    opacity: 1;
                   
                }
            }
            position: relative;
            img{
                width: 100%;
            }
            p{
                position: absolute;
                bottom: 5%;
                width: 100%;
                text-align: center;
                color: white;
                padding: 0 10px;
                z-index: 33;
            }
        }
        .pic1::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.678);
            z-index: 2;
        }
    }
}
.wrap-roadside
{   padding:6% 0;
    background-image:url('../../../public/images/service/roadside.png'),url('../../../public/images/service/recroad.png'); 
        .content{
            width: 60%;
            h3{
                font-size: 20px;
                font-family: $Arial;
                font-weight: bold;
                color: $priamry_color;
                padding-bottom: 3%;
            }
            p{
                font-size: 17px;
                font-family: $Arial;
                color:#FFFFFF;
            }
            p:nth-child(2)
            {
                padding-bottom: 3%;
            }

        }
    // }
}
.wrap-product
{   padding-bottom: 20px;
    .view-product{
        display: flex;
        .icon{
            padding-right: 30px;
        }
        .view{
            padding-bottom: 5px;
            border-bottom: 2px solid #262626;
            a{  
                color: #262626;
                font-size: 20px;
                font-family: $FolioStd-Medium;
            }
        }
    }
    .product-range
    {
        padding-bottom:  50px;
        h2{
            font-size: 60px;
            font-family: $FolioStd-Medium;
            color:#000000;
        }
        p{
            font-size: 20px;
            font-family: $FolioStd-Medium;
        }
    }
    .wrap-descrip{
        padding-bottom: 80px;
        .wheepstop{
            h3
        {   display: inline-block;
            background-color: $priamry_color;
            padding:10px;
        }
        }
        h3{
            padding-bottom: 30px;
            font-size: 20px;
            font-family: $FolioStd-Medium;
            color:#000000;
        }
        p{
            font-size: 15px;
            font-family: $Arial;
            padding: 0% 8% 0% 0%;
            padding-bottom: 21px;
        }
    }
}