.wrap-top {
    .top2 {
        padding-bottom: 60px;
        h2 {
            font-size: 40px;
            font-family: $FolioStd-Bold;
            color: #000000;
        }
        p {
            font-size: 20px;
            font-weight: bold;
            font-family: $Arial;
            color: #000000;
        }
    }
    .menu {
        .nav-tabs {
            .nav-item.show{
                .nav-link{
                    background: none;
                }
            } 
            border-bottom: 0px solid #dee2e6;
            .nav-link {
                padding: 0px 50px 0px 0px;
                font-size: 17px !important;
                color: #000000;
                font-family: $Arial;
            }
            .nav-link.active {
                font-weight: bold;
            }
        }
    }
}

.wrap-car {
    padding: 3% 30% 0% 3%;
    background-image: url('../../../public/images/service/carpark.jpg');
    .wrap-system {
        padding-bottom: 10%;
        .system1 {
            padding-right: 4%;
        }
        .system2 {
            padding-right: 4%;
        }
        .system3 {
            padding-right: 4%;
        }
        h3 {
            color: $priamry_color;
            font-size: 20px;
            font-family: $Arial;
            font-weight: bold;
        }
        p {
            color: #FFFFFF;
            font-size: 17px;
            font-family: $Arial;
        }
    }
    .car-park {
        h2 {
            color: $priamry_color;
            font-size: 20px;
            font-family: $Arial;
            font-weight: bold;
            padding: 2% 0% 3%;
        }
        p {
            font-size: 17px;
            font-family: $Arial;
        }
        p:nth-child(2) {
            padding-bottom: 4%;
            color: #FFFFFF;
        }
        p:nth-child(3) {
            padding-bottom: 6%;
            color: #FFFFFF;
        }
    }
}

.wrap-our {
    .service {
        font-size: 40px;
        font-family: $FolioStd-Bold;
        color: #000000;
    }
    .asset {
        margin-bottom: 30px;
        img {
            background-color: #000000;
            position: relative;
            max-width: 100%;
        }
        p {
            position: absolute;
            bottom: 5%;
            width: 100%;
            text-align: center;
            color: white;
            font-size: 20px;
            font-family: $FolioStd-Medium;
            right: 0.2%;
        }
        .icon {
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5);
            ;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 45%;
            left: 43%;
            z-index: 8;
            color: $priamry_color;
            font-size: 25px;
            visibility: hidden;
        }
    }
    .asset:hover .icon {
        visibility: inherit;
        transition: 0.5s ease;
    }
    .asset:hover p {
        color: $priamry_color;
    }
}

.wrap-roadside {
    padding: 6% 0;
    background-image: url('../../../public/images/service/roadside.jpg');
    .content {
        width: 60%;
        h3 {
            font-size: 20px;
            font-family: $Arial;
            font-weight: bold;
            color: $priamry_color;
            padding-bottom: 3%;
        }
        p {
            font-size: 17px;
            font-family: $Arial;
            color: #FFFFFF;
        }
        p:nth-child(2) {
            padding-bottom: 3%;
        }
    }
}

.wrap-product {
    padding-bottom: 20px;
    .view-product {
        display: flex;
        .icon {
            padding-right: 30px;
        }
        .view {
            padding-bottom: 5px;
            border-bottom: 2px solid #262626;
            a {
                color: #262626;
                font-size: 20px;
                font-family: $FolioStd-Medium;
            }
        }
    }
    .product-range {
        padding-bottom: 3%;
        h2 {
            font-family: $FolioStd-Medium;
            color: #000000;
        }
        p {
            font-size: 20px;
            font-family: $FolioStd-Medium;
        }
    }
    .wrap-descrip {
        padding-bottom: 80px;
        .post:nth-child(4){
            p{
                padding-right: 0px !important;
            }
        }
        .post {
            &:hover {
                .post-title {
                    transition: 0.3s ease;
                    font-weight: bold;
                }
            }
        }
        h3 {
            font-size: 20px;
            font-family: $FolioStd-Medium;
            color: #000000;
            padding: 10px 0px;
        }
        p{
            font-size: 15px;
            font-family: $Arial;
            padding-right: 9%;
        }
    }
}

// respon

@media (max-width:1680px) {
    .wrap-our {
        .asset {
            p {
                font-size: 17px;
            }
        }
    }
}

@media (max-width:1440px) {
    .wrap-our {
        .asset {
            p {
                font-size: 15px !important;
            }
        }
    }
}

@media (max-width:1240px) and (min-width:991px) {
    .nav-tabs {
        .nav-link {
            font-size: 15px !important;
        }
    }
    .wrap-our {
        .asset {
            p {
                font-size: 12px !important;
            }
        }
    }
}
@media(max-width:991px){
    .asset{
        display: flex;
        justify-content: center;
    }
    .container-customize{
        padding: 0 15px  !important;
    }
  .wrap-top{
      .top2{
          h2{
              font-size: 36px;
          }
          padding-bottom: 3% !important;
      }
  }
  .wrap-product{
      .wrap-descrip{
          padding-bottom: 3% !important;
          p{
              padding-right: 0 !important;
          }
      }
  }
}
@media(max-width:768px) {
    .wrap-top{
        .top2{
            h2{
                font-size: 30px;
            }
            p{
                font-size: 17px !important;
            }
        }
    }
    .wrap-our {
        .service{
            font-size: 30px;
        }
        .asset {
            justify-content: center;
            display: flex;
        }
    }
}
@media(max-width:575px) {
    .wrap-top{
        .top2{
            p{
                font-size: 15px !important;
            }
        }
    }
    .wrap-our {
        .asset {
            p {
                font-size: 17px !important;
                right: 0.2%;
            }
        }
    }
}
