.wrap-install{
    background-image: url('../../../public/images/service-detail/services.jpg');
    height: max-content;
    background-color: #000;
    position: relative;
    min-height: 460px;
    display: flex;
    align-items: center;

    .install{
        padding-top: 30px;
        padding-bottom: 30px;
        h2{
            font-size: 20px;
            font-family: $Arial;
            font-weight: bold;
            color: $priamry_color;
            padding-bottom: 2%;
        }
        p{
            font-size: 17px;
            font-family: $Arial;
            color: #fff;
        }
    }
}
.list{
    padding-top: 30px;
    padding-bottom: 30px;

    code {
        color: $gray-text;
    }
    .text:nth-child(2){
        padding-left: 5%;
    }
    .text{
        padding-left:30px ;
        ul{
            li{
                list-style: disc;
                font-size: 15px;
                font-family: $Arial;
            }
        }
    }
}
.wrap-pic{
    .re-pow{
        display: flex;
        flex-wrap: wrap;
        .request{
            position: relative;
            h3{
                font-family: $FolioStd-Medium;
                font-size: 20px;
                color:#fff;
                position: absolute;
                top:84%;
                left: 5%;
            }
            img{
                background-color: #000;
                max-width: 100%;
                height: 100%;
            }
        }

        >div {
            flex: 0 0 66.6666666667%;
            max-width: 66.6666666667%;
        }

        >div:nth-child(3n+1) {
            max-width: 33.3333333333%;
            flex: 0 0 33.3333333333%;
        }

        >div:nth-child(odd){
            padding: 7.5px;
        }
        >div:nth-child(even){
            padding: 7.5px;
        }

        .powder{
            margin: 0% 0% 1.5% 0;
            position: relative;
            h3{
                font-family: $FolioStd-Medium;
                font-size: 20px;
                color:#fff;
                position: absolute;
                top:84%;
                left: 3%;

            }
            img{
                max-width: 100%;
                background-color: #000;
            } 
        }
    }
    .cus-im
    {
        display: flex;
        .custom{
            margin: 0% 1.5% 1.5% 0%;
            position: relative;
            h3{
                font-family: $FolioStd-Medium;
                font-size: 20px;
                color:#fff;
                position: absolute;
                top:84%;
                left: 3%;
            }
            img{
                max-width: 100%;
                background-color: #000;
            }
        }
        .impact{
            margin-bottom: 1.5%;
            position: relative;
            h3{
                font-family: $FolioStd-Medium;
                font-size: 20px;
                color:#fff;
                position: absolute;
                top:84%;
                left: 6%;
            }
            img{
                max-width: 100%;
                background-color: #000;
            } 
        }
    }
}
.wrap-product-quality
{
    .product-quality{
        padding:3% 0;
        h2{
            font-size: 60px;
            font-family: $FolioStd-Medium;
            color: #000000;
        }
        p{
            font-size: 20px;
            font-family: $Arial;
        }
    }
    .australian{
        margin-bottom: 25px;
        &:hover{
            .title{
                transition: 0.3s ease;
                font-weight: bold;
            }
        }
        h3{
            font-size: 20px;
            font-family: $FolioStd-Medium;
            padding: 10px 0px ;
        }
        p{
            font-size: 15px;
            font-family: $Arial;
            margin-top: 7px;
            // padding-right: 3%;
            // padding-bottom: 3%;
        }
    }
}
@media(max-width:991px)
{
    .wrap-pic{
        .re-pow {
            .powder,.request{
                h3 {
                    top:80%;
                    font-size: 15px;
                }
            }
        }
        .cus-im{
            .custom,.impact{
                h3{
                    top:80%;
                    font-size: 15px; 
                }
            }
        } 
    } 
}
@media(max-width:640px)
{
    .wrap-pic{
        .re-pow {
            .powder,.request{
                h3 {
                    font-size: 10px;
                }
            }
        }
        .cus-im{
            .custom,.impact{
                h3{
                    font-size: 10px; 
                }
            }
        } 
    } 
}
@media(max-width:480px) {
    .wrap-product-quality
    {
        .product-quality{
            h2{
                font-size: 40px !important;
            }
        }
    }
    }