.footer {
    margin-top: 70px !important;
    .footer-bottom-boder {
        border: 2px solid #ccc;
    }
    .footer-yellow {
        background-color: #FAD906;
        @media(max-width: 480px) {
            text-align: center;
        }
        .container-customize {
            .footer__logo {
                padding-top: 50px;
                padding-bottom: 15px;
                .img {
                    width: 12%;
                }
            }
            .container-wrapper {
                padding-bottom: 90px;
                .protection-solutaion {
                    .map-protection {
                        padding-top: 30px;
                    }
                    .tiltle-protection h3 {
                        font-size: 20px;
                        font-family: $FolioStd-Medium;
                    }
                }
                .contact-location p {
                    padding: 5px 0;
                    a {
                        color: #262626;
                        padding-left: 10px;
                    }
                }
                .contact-location h3 {
                    padding-bottom: 20px;
                    font-size: 20px;
                    font-family: $FolioStd-Medium;
                    text-transform: uppercase;
                }
                .homepage {
                    h3 {
                        padding-bottom: 15px;
                    }
                    p {
                        padding: 10px 0;
                        a {
                            color: #262626;
                            &:hover {
                                color: #000;
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .applications {
                    h3 {
                        padding-bottom: 15px;
                    }
                    p {
                        padding: 10px 0;
                        a {
                            color: #262626;
                            &:hover {
                                color: #000;
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .connect-us a i {
                    padding-top: 15px;
                    font-size: 20px;
                    color: $gray-text;
                }
            }
            .footer-bottom {
                @media(max-width: 480px) {
                    font-size: 13px;
                    padding: 20px 45px;
                }
                padding: 40px 0;
                a {
                    color: #262626;
                    &:hover {
                        color: #000;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media(max-width:991px) {
    .footer {
        margin-top: 35px !important;
        .footer-yellow {
            .container-customize {
                .container-wrapper {
                    padding-bottom: 10px;
                    .protection-solutaion {
                        .tiltle-protection {
                            h3 {
                                font-size: 15px;
                            }
                        }
                    }
                    .contact-location {
                        h3 {
                            font-size: 15px;
                        }
                        p {
                            font-size: 13px;
                        }
                    }
                    .homepage {
                        font-size: 13px;
                    }
                    .applications {
                        font-size: 13px;
                    }
                    .connect-us {
                        font-size: 13px;
                    }
                }
                .footer__logo {
                    width: 100%;
                    img {
                        @media(max-width: 480px) {
                            width: 35%;
                        }
                        width: 15%;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .footer .footer-yellow {
        text-align: center;
    }
}

@media(max-width:576px) {
    .footer {
        .footer-yellow {
            .container-customize {
                .container-wrapper {
                    .homepage {
                        padding-top: 10px;
                    }
                    .applications {
                        padding-top: 10px;
                    }
                    .connect-us {
                        padding-top: 10px;
                    }
                }
            }
        }
    }
}