.footer {
    .footer-yellow {
        background-color: #FAD906;
        .container-customize {
            .footer__logo {
                padding-top: 50px;
                padding-bottom: 15px;
                .img {
                    width: 12%;
                }
            }
            .container-wrapper {
                padding-bottom: 90px;
                .protection-solutaion {
                    .map-protection {
                        width: max-content;
                        padding-top: 30px;
                    }
                    .tiltle-protection h3 {
                        font-size: 20px;
                        font-family: $FolioStd-Medium;
                    }
                }
                .contact-location p {
                    padding: 5px 0;
                    a {
                        color: #262626;
                        padding-left: 10px;
                    }
                }
                .contact-location h3 {
                    padding-bottom: 20px;
                    font-size: 20px;
                    font-family: $FolioStd-Medium;
                    text-transform: uppercase;
                }
                .homepage {
                    h3 {
                        padding-bottom: 15px;
                    }
                    p {
                        padding: 10px 0;
                        a {
                            color: #262626;
                            &:hover {
                                color: #000;
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .applications {
                    h3 {
                        padding-bottom: 15px;
                    }
                    p {
                        padding: 10px 0;
                        a {
                            color: #262626;
                            &:hover {
                                color: #000;
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .connect-us img {
                    padding-top: 15px;
                }
            }
            .footer-bottom {
                padding: 40px 0;
                a {
                    color: #262626;
                    &:hover {
                        color: #000;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}