.header {
    .nav__bar {
        display: flex;
        align-items: center;
    }
    position: unset;
    padding: 0;
    .logo__link {
        padding: 39px 74px;
        background-color: $priamry_color;
    }
    .navbar-nav {
        padding-left: 13%;
        .nav-item {
            padding: 0 15px;
            font-size: 17px;
            font-family: $Arial;
            a {
                color: $gray_text
            }
        }
        li:first-child {
            a {
                color: #000;
                font-weight: bold;
            }
        }
    }
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    box-shadow: 2px 0.5px 10px #ddd;
    .toolbar {
        position: absolute;
        right: 10%;
        top: 50%;
        background: white;
        box-shadow: 0px 2px 6px #ddd;
        display: flex;
        align-items: center;
        @media (max-width: 1440px) {
            top: 60%;
        }
        @media (max-width: 992px) {
            display: none;
        }
        .left {
            display: flex;
            background: #fff;
            align-items: center;
            padding: 19px;
            justify-content: space-between;
            width: 240px;
            @media (max-width: 1680px) {
                padding: 15px;
                width: 208px;
            }
            @media (max-width: 1440px) {
                padding: 3px;
                width: 170px;
            }
            @media (max-width:1366px) {
                padding: 8px;
                width: 175px;
            }
            .left-1 {
                display: flex;
                align-items: center;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    right: -10px;
                    background-color: #ccc;
                    width: 2px;
                    height: 15px;
                }
                img {
                    padding-left: 10px;
                    @media (max: width 1440px) {
                        padding-left: 3px;
                    }
                }
                span {
                    @media (max-width: 1440px) {
                        padding: 0;
                    }
                    padding-left: 10px;
                    font-family: $Arial;
                    font-weight: bold;
                    color: #000;
                }
            }
        }
        .right {
            background: #FAD906;
            padding: 19px;
            position: relative;
            @media (max-width: 1680px) {
                padding: 14px;
            }
            @media (max-width: 1440px) {
                padding: 8px;
            }
            @media (max-width:1366px) {
                padding: 7px;
            }
            img {
                padding-left: 15px;
                padding-right: 12px;
                max-width: 100%;
                @media (max-width: 1366px) {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
            .header__cart-notice {
                position: absolute;
                background-color: #262626;
                padding: 0px;
                color: $priamry_color;
                height: 20px;
                width: 20px;
                left: 27%;
                top: 15%;
                border-radius: 50%;
                text-align: center;
                @media (max-width: 1366px) {
                    left: 25%;
                    top: 8%;
                }
            }
        }
    }
}