.header {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    box-shadow: 2px 0.5px 10px #ddd;
    .logo {
        background: #FAD906;
        height: 100%;
        padding: 25px 74px;
    }
    .nav {
        margin-right: 12%;
        .nav__menu {
            display: flex;
            align-items: center;
            list-style: none;
            flex: 1;
            justify-content: center;
            li:first-child {
                font-weight: bold;
            }
            li {
                padding: 0 15px;
                a {
                    text-decoration: none;
                    color: #333;
                    font-size: 17px;
                    font-family: $Arial;
                }
            }
        }
    }
    .toolbar {
        position: absolute;
        right: 2%;
        top: 50%;
        background: white;
        box-shadow: 0px 2px 6px #ddd;
        display: flex;
        align-items: center;
        .left {
            display: flex;
            background: #fff;
            align-items: center;
            padding: 19px;
            justify-content: space-between;
            width: 240px;
            .left-1 {
                display: flex;
                align-items: center;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    right: -10px;
                    background-color: #ccc;
                    width: 2px;
                    height: 15px;
                }
                img {
                    padding-left: 10px;
                }
                span {
                    padding-left: 10px;
                    font-family: $Arial;
                    font-weight: bold;
                    color: #000;
                }
            }
        }
        .right {
            background: #FAD906;
            padding: 19px;
            position: relative;
            img {
                padding-left: 15px;
                padding-right: 12px;
                max-width: 100%;
            }
            .header__cart-notice {
                position: absolute;
                background-color: #262626;
                padding: 0px;
                color: $priamry_color;
                height: 20px;
                width: 20px;
                left: 27%;
                top: 15%;
                border-radius: 50%;
                text-align: center;
            }
        }
    }
}