#other_products {
    .title {
        font-size: 20px;
        font-weight: bold;
        display: block;
        border-bottom: 1px solid #efefef;
        &:after {
            content: "";
            display: block;
            width: 5%;
            height: 5px;
            background-color: $priamry_color;
        }
    }
    .list_products {
        margin-top: 3%;
        margin-bottom: 9%;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-column-gap: 2%;
        .product_item {
            a {color: $gray-text; font-weight: bold;}

            code {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
            }
            .product_name {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                min-height: 44px;
            }
            
            .box-img{
                position: relative;
                margin-bottom: 10px;
                &:hover .overlay {
                    opacity: 1;
                }
                
            }
            img {
                max-width: 100%;
                display: block;
            }
            color: black;
            .overlay {
                position: absolute;
                bottom: 0;
                background: rgb(0, 0, 0);
                background: rgba(0, 0, 0, 0.5);
                width: 100%;
                height: 100%;
                transition: .5s ease;
                opacity: 0;
                padding: 35%;
                text-align: center;
                i {
                    font-size: 40px;
                    color: $priamry_color;
                }
            }
           
        }
    }
}